{% extends 'base.html' %}

{% block content %}

<h1 class="rou_heading" align="center"> Route 196 </h1>
<p align="center"> Browse through the site to look for your favorite films that you could watch on the go! </p><br>

<ul class="index">
    <button class='img-ac'><a href = "movies/action"> ACTION </a></button>
    <button class='img-co'><a href = "movies/comedy"> COMEDY </a></button>
    <button class='img-dr'><a href = "movies/drama"> DRAMA </a></button>
    <button class='img-hor'><a href = "movies/horror"> HORROR </a></button>
    <button class='img-rom'><a href="movies/romance"> ROMANCE </a></button>
    <button class='img-sci'><a href = "movies/sci-fi"> SCI-FI </a></button>
    <button class='img-sus'><a href = "movies/suspense"> SUSPENSE </a></button>
    <button class='img-thr'><a href = "movies/thriller"> THRILLER </a></button>

</ul>

{% endblock %}
